
.thumbail-contener{
width: 290px;
height: 295px;
margin-left: 20px;
margin-top: 10px;

}

p{
    font-family: roboto;
}


.thumbail{
width: 100%;   


}
.profile{

display: inline-block;    
vertical-align: top;
margin-top: 8px;
height: 100px;




}
.video-info{
    margin-top: 8px;
margin-left: 9px;
display:inline-block; 

width: 180px;
height: 100px;


}
.dp{
border-radius: 40px;
width: 40px;
padding-top: 0px;
}
.video-title{

margin-top: 1px;
padding: 0px;
font-weight: bold;
width: 240px;


}

.video-trend , .video-author{
margin-top: 1px;
font-size: 13px;
line-height: 5px;
color: rgb(96, 96, 96);


}

.content{
margin-top: 5px;
display: grid;  
grid-template-columns: 1fr 1fr 1fr 1fr ;
column-gap: 10px;
row-gap: 5px;
height: 100px;
padding-top: 50px;
padding-left: 50px;

}

.navbaar{

display: flex;
flex-direction: row;
justify-content: space-between;
height: 45px;
border-bottom: 1px solid rgb(162, 160, 160);
position: fixed;
background-color: white;
z-index: 100;
left: 0px;
right: -5px;
top: 0;


}
.tags{
position: relative;    
}
.time-tag{
 color: azure;
position: absolute;
background-color: black;
margin-bottom: 0;
right: 3px;
bottom: 8px;
padding-left: 3px;
padding-right: 3px;
border-radius: 2px;
font-family: roboto , Arial, Helvetica, sans-serif;
font-size: small;
font-weight: 500px;


}


.left{
width: 200px;

display: flex;
align-items: center;

}
.baar-icon{
height: 25px;
margin-left: 10px;

}
.youtube-logo{
margin-left: 25px;
height: 24px;    
}
.middle{

flex: 1;
margin-left: 40px;
margin-right: 40px;
max-width: 500px;
display: flex;


}
.search-icon{

width: 50px;
height: 40px;
margin-left: -4px;

}
.voice-icon{
    width: 40px;
    height: 40px;
    margin-left: 4px;
    border-radius: 20px;
    border: none;
}
.search{
height: 36px;
flex: 1;
border-color: rgb(152, 152, 153);
box-shadow: inset;
border-style: solid;
border-width: 1px;
border-radius: 4px;


}
.search::placeholder{
font-size: 17px;

}

.right{
 
   width: 250px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.note-tag{
background-color: brown;
height: 15px;
width: 15px;
border-radius: 12px;
color: antiquewhite;
position: absolute;
right: 71px;
bottom: 7px;
font-size: 15px;
padding-left: 5px;

}
.uplod-icon{

height: 25px;

}
.you-icon{

height: 25px;

}
.noti-icon{

height: 25px;

}
.profile-icon{

height: 25px;
width: 25px;
border-radius: 40px;
margin-right: 5px;

}

.sidebaar{
position: fixed;
padding-top:50px;
background-color: rgb(250, 248, 248);
width: 70px ;
left: 0;

}
.home-icon{


}
.side-baar-p{
   
font-size: 15px;
margin: 0px;    
margin-top:2px ; 
}

.main-c{
display:inline-block;   
display: flex; 
}


.box{

height: 70px;
width: 70px;
margin-bottom: 2px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 3px;
}
.box:hover{
background-color: lightgray;


}
.box img{
width: 30px;


}
.box div{
font-size: 10px;

}

